{% extends 'base.html' %}

{%load  static%}


{% block css_files%}

    <link rel="stylesheet" href="{%static "blog/post-detail.css"%}">


{%endblock%}

{%block title%}
    {{post.title}}
{%endblock%}

{% block content%}
    <section id="summary">
        <h2>{{post.title}}</h2>
        <div>
            {% for tag in post_tags%}

            <span class="tag">{{tag.caption}}{% comment %}
	</span>
{% endcomment %}

            {%endfor%}
        </div>
        <article>
            <img src="{{post.image.url }}" alt="post-title">
            <address>By <a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
            <div>
                Last Updated <time>{{post.date|date:"d M Y"}}</time>

            </div>
        </article>
    </section>


    <main>
    {{post.content|linebreaks }}

    <section id="comment-form" >
        <h2>Your Comment</h2>
        <form  action ="{% url "single_post" post.slug  %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form%}
            <div class="form-control">
                {{form_field.label_tag}}
                {{ form_field}}
                {{ forms.field.errors}}
            </div>
            {% endfor%}
            <button>Save Comment</button>
        </form>
    </section>

    


    </main>



{%endblock%}